body{ 
    margin: 0;
   display: flex;
    align-items: center;
    flex-direction: column;
    background-color: darkred;

}
.container-image{
    text-align: center;
   
}
.container-image img{
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
    background-color:lightgray;
    height: 300px;
    width: 300px;
}
.btn{
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(4, 189, 245);
    color: black;
    box-shadow: 0 4px 8px rgba(0,0,0,.3);
}
.btn:hover{
   background-color: rgb(241, 238, 235);
     color: rgb(12, 11, 11);
   cursor:pointer;
   opacity: 0.9;
} 